.tempNow {
	text-align: center;
	margin: auto;
}

h1 {
	text-align: center;
	margin: 0px;
}
body {
	background-color: #000;
	color: #7E7F80;
}

a, a:link, a:active, a:hover {
	color: #7E7F80;
	text-decoration: none;
}
